/* $Id: frontend.css 34 2010-05-26 16:33:13Z ralf $ */

.kit_acc_dlg,
.kit_nl_dlg {
  font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
  margin: 20px 0;
  padding: 0;
}
.kid_acc_dlg h1,
.kit_acc_dlg h2,
.kit acc_dlg h3,
.kid_nl_dlg h1,
.kit_nl_dlg h2,
.kit nl_dlg h3
{
  font-size: 13pt;
  font-weight: bold;
  color: maroon;
  background-color: transparent;
  text-decoration: underline;
}

.kit_acc_intro,
.kit_nl_intro {
  margin: 5px;
  padding: 15px;
  border: 1px solid gray;
  font-size: 9pt;
}
.kit_acc_form_item,
.kit_nl_form_item {
  margin: 10px 0 0 0;
}
.kit_acc_label,
.kit_nl_label {
  display: inline-block;
  width: 100px;
  height: auto;
  padding: 2px 0 0 0;
  vertical-align:top;
}
.kit_acc_error,
.kit_nl_error {
  margin: 20px;
  padding: 30px;
  border: 1px solid maroon;
  font-size: 10pt;
  font-weight: normal;
  color: maroon;
  background-color: #ffffcc;
}
.kit_acc_error h1,
.kit_nl_error h1 {
  font-size: 12pt;
  font-weight: bold;
  color: maroon;
  background-color: transparent;
}
.kit_acc_error_hint,
.kit_nl_error_hint {
  padding: 30px 0 0 0;
  font-size: 8pt;
}
.kit_acc_service,
.kit_nl_service {
  font-size: 7pt;
  color: gray;
  background-color: transparent;
  margin: 20px 0 10px 0;
  padding: 0;
}
.kit_acc_password_hint {
  margin: 20px 0 10px 0;
  padding: 0;
  font-size: 8pt;
  color: gray;
  background-color: transparent;
}
.kit_acc_logout {
  font-size: 8pt;
  text-align: right;
}